name: Manual test runner

on:
  workflow_dispatch:
    inputs:
      browser:
        type: choice
        description: Choose browser
        default: Chrome
        options:
        - Chrome
        - Firefox
        - Edge
      suiteFile:
        type: choice
        description: 'Choose suite file'
        default: suite.xml
        options:
        - suite.xml
jobs:
  Run-tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Install Chrome Browser
        if: "contains(github.event.inputs.browser, 'Chrome')"
        run:   |
            chmod +x ./scripts/InstallChrome.sh
                        ./scripts/InstallChrome.sh
      - name: Install Firefox Browser
        if: "contains(github.event.inputs.browser, 'Firefox')"
        run:   |
            chmod +x ./scripts/InstallFirefox.sh
                        ./scripts/InstallFirefox.sh
      - name: Install Edge Browser
        if: "contains(github.event.inputs.browser, 'Edge')"
        run:   |
            chmod +x ./scripts/InstallEdge.sh
                        ./scripts/InstallEdge.sh
      - name: Build and install with Maven
        run: mvn clean install --file pom.xml -DskipTests
      - name: Run tests
        run: mvn test --file pom.xml -DsuiteFile=suite.xml -Dbrowser=${{ inputs.browser }} -Dheadless=yes
      - name: Prepare allure report
        uses: peaceiris/actions-gh-pages@v2
        if: always()
        id: allure-report
        with:
         allure_results: ./allure-results
         gh_pages: gh-pages
         allure_report: allure-report
         allure_history: allure-history
      - name: Deploy allure report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
         PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         PUBLISH_BRANCH: gh-pages
         PUBLISH_DIR: allure-history
